body {
  margin: 0;
  padding: 0;
  font-family: "Poppins",sans-serif;
  background-color: #091e22;
}

section {
  color: #fff;
  padding-top: 3rem;
}

button {
  background-color: pink;
  border: none;
  height: 3rem;
  width: 9rem;
}
.displayResult button {
  height: 100%;
  width: 100%;
  background-color: pink;
  color: #000;
}
.remarks {
  margin-bottom: 1rem;
}
.remarks > button {
  margin-bottom: 1rem;
}
.perfect {
  background-color: green;
  color: #fff;
}
.pairing {
  background-color: yellow;
  color: #000;
}
.bad {
  background-color: red;
  color: #fff;
}
.love {
  display: block;
}
.link a {
  color: grey;
}


@media screen and (max-width:550px){
  section {
    padding-top: 0;
  }
}
